:root {
    --blue-primary: #BCE6EB;
    --blue-secondary: #8CC9D1;
    --pink-primary: #FDCFDF;
    --pink-secondary: #FBBEDF;
    --pink-third: #FCA3CC;
    --grey: #848484;   
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Segoe UI';
    }

/* Text */

.heading h1 {
    font-weight: 700;
    font-size: 11.1rem;
    color: var(--pink-primary);
}

.heading-menu a {
    font-size: 0.9rem;
    color: var(--grey);
    text-decoration: none;
    font-weight: 300;
}

.current-page a {
    color: var(--blue-primary);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.box-1 h1 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    color: white;
    margin: 10px 0;
}

.swiper-container h1 {
    text-align: center;
    margin-top: 360px;
    text-shadow: 0px 3px 2px rgba(253,207,223,0.6);
}

.info-user-1 h1{
    font-size: 1.5rem;
    float: left;
    margin-bottom: 20px;
    font-style: italic;
    color: white;
}

.info-user-1 h2{
    font-size: 1.0rem;
    font-weight: 200;
    font-style: italic;
    color: white;
    line-height: 2%; 
    margin: 20px 0;
}

.info-user-2 h1{
    text-align: right;
    font-weight: 800;
    font-style: italic;
    color: white;
    font-size: 1.5rem;
    float: right;
}

.info-user-2 h2{
    margin: 20px 0;
    font-size: 1.0rem;
    font-weight: 200;
    font-style: italic;
    color: white;
    line-height: 2%;
    text-align: right;
}

.info-user-3 h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
    color: white;
}

.info-user-3 h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: white;
}

/* Container & Heading */

.container {
    max-width: 800px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-top: 150px;
}

.heading-menu {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;
}

.current-page {
    margin-top: -165px;
    margin-right: 60px;
}

/* Boxes */

.boxes {
    display: flex;
}

/* Box 1 */

.box-1 {
    background-color: var(--blue-secondary);
    max-width: 285px;
    height: 500px;
    margin-top: 50px; 
    flex: 1;
}

/* Swiper */

.swiper-container {
    height: 425px;
    width: 250px;
    margin: auto;
}

.slide1 {
    background: url("/images/chaeryeong.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
}

.slide2 {
    background: url("/images/gdragon.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
}

.slide3 {
    background: url("/images/moonbyul.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
}

.slide4 {
    background: url("/images/shuhua.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
}

/* Box 2 */

.box-2 {
    background-color:var(--blue-primary);
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
}

.info-user-1 {
    margin-top: 25px;
    margin-left: 25px;
    width: 240px;
    height: 90%;
}

.info-user-2 {
    float: right;
    width: 240px;
    margin-top: 25px;
    margin-right: 25px;
    height: 90%;
}

.info-user-3 {
    text-align: center;
    margin: 50px 25px;
    width: 450px;
}

.last-icon {
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

@media (max-width: 815px) {
    .heading h1 {
        line-height: 60%;
    }

    .heading-menu {
        margin-top: 210px;
    }

    .current-page {
        margin-top: -205px;
        margin-right: -250px;
    }

    .box-1 {
        margin-top: 50px;
        max-width: 285px;
    }

    .box-2 {
        margin-top: 50px;
    }

    .info-user-1 {
        width: 200px;
    }
    
    .info-user-2 {
        width: 200px;
    }
    
    .info-user-3 {
        width: 400px;
    }
}

@media (max-width: 775px) {  
    .info-user-1 {
        width: 175px;
    }
    
    .info-user-2 {
        width: 175px;
    }
    
    .info-user-3 {
        width: 375px;
    }
}

@media (max-width: 675px) {  
    .info-user-1 {
        width: 125px;
    }
    
    .info-user-2 {
        width: 125px;
    }
    
    .info-user-3 {
        width: 325px;
    }

    .info-user-1 h1{
        font-size: 1.3rem;
    }
    
    .info-user-1 h2{
        font-size: 0.8rem;
    }
    
    .info-user-2 h1{
        font-size: 1.3rem;
    }
    
    .info-user-2 h2{
        font-size: 0.8rem;
    }
    
    .info-user-3 h1 {
        font-size: 2.3rem;
    }
    
    .info-user-3 h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 600px) {
    .info-user-1 {
        width: 100px;
    }
    
    .info-user-2 {
        width: 100px;
    }
    
    .info-user-3 {
        width: 250px;
    }

    .info-user-1 h1{
        font-size: 1.3rem;
    }
    
    .info-user-1 h2{
        font-size: 0.8rem;
    }
    
    .info-user-2 h1{
        font-size: 1.3rem;
    }
    
    .info-user-2 h2{
        font-size: 0.8rem;
    }
    
    .info-user-3 h1 {
        font-size: 2.1rem;
    }
    
    .info-user-3 h2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 540px) {
    .box-1 {
        background-color: var(--blue-secondary);
        width: 185px;
    }

    .swiper-container {
        width: 185px;
        margin: auto;
    }
}




