:root {
    --blue-primary: #BCE6EB;
    --blue-secondary: #D5EBEE;
    --pink-primary: #FDCFDF;
    --pink-secondary: #FBBEDF;
    --pink-third: #FCA3CC;
    --grey: #848484;   
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Segoe UI';
}

/* Text */

.current-page a {
    color: var(--pink-primary);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.heading h1 {
    font-weight: 700;
    font-size: 11.1rem;
    color: var(--blue-primary);
}

h2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 35px 35px;
    font-weight: 300;
    color: white;
}

.user-bio h1 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    color: white;
    margin: 10px 0;
}

.heading-menu a {
    font-size: 0.9rem;
    color: var(--grey);
    text-decoration: none;
    font-weight: 300;
}

/* Container & Heading */

.container {
    max-width: 800px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-top: 150px;
}

.heading-menu {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;
}

.current-page {
    margin-top: -165px;
    margin-right: 170px;
}

/* Boxes */

.boxes {
    height: 1050px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.box-1 {
    background-color: var(--blue-secondary);
    max-width: 400px;
    height: 225px;
    margin-top: 50px;
    flex: 1;
}

.box-2 {
    background-color:var(--pink-primary);
    max-width: 400px;
    height: 225px;
    margin-top: 50px;
    flex: 1;
}

.box-3 {
    background-color:var(--blue-primary);
    max-width: 400px;
    height: 500px;
    margin-top: -250px;
    flex: 1;
    text-align: center;
}

.box-3 img {
    width: 40px;
    height: 40px;
}

.box-4 {
    background-color:var(--pink-secondary);
    max-width: 400px;
    height: 500px;
    margin-top: -250px;
    flex: 1;
}

/* Slider */

.swiper-container {
    height: 150px;
    width: 250px;
    margin: auto;
}

.slide1 {
    background: url("/images/thehandmaiden.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide2 {
    background: url("/images/uncutgems.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide3 {
    background: url("/images/parasite.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide4 {
    background: url("/images/oldboy.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide5 {
    background: url("/images/memento.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide6 {
    background: url("/images/chungkingexpress.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide7 {
    background: url("/images/bacurau.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide8 {
    background: url("/images/ladyvengeance.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide9 {
    background: url("/images/portrait.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide10 {
    background: url("/images/theoffice.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide11 {
    background: url("/images/lovelivesunshine.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide12 {
    background: url("/images/thexfiles.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide13 {
    background: url("/images/howimetyourmother.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide14 {
    background: url("/images/got.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide15 {
    background: url("/images/supernatural.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide16 {
    background: url("/images/hannibal.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide17 {
    background: url("/images/theboys.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

.slide18 {
    background: url("/images/yagate.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

@media (max-width: 815px) {
    .heading h1 {
        line-height: 60%;
    }

    .heading-menu {
        margin-top: 210px;
    }

    .current-page {
        margin-top: -205px;
        margin-right: -90px;
    }

    .box-1 {
        margin-top: 50px;
    }

    .box-2 {
        margin-top: 50px;
    }
}

@media (max-width: 790px) {
    .box-3 {
        height: 525px;
    }
    
    .box-4 {
        height: 525px;
    }
}

@media (max-width: 702px) {
    h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 635px) {
    h2 {
        font-size: 1.1rem;
    }

    .box-3 {
        height: 525px;
    }
    
    .box-4 {
        height: 525px;
    }
}

@media (max-width: 525px) {
    h2 {
        font-size: 1.0rem;
    }
}
